@import url(//db.onlinewebfonts.com/c/8db94ce247ff2ab0b07a11e94f79591c?family=Geometos);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;

}

.headerContainer {
  height: 100.23px;
  min-width: 100%;
  position: absolute;
  background-color: #FFFFFF;
}

.menuDiv {
  display: block;
  display: flex;
  width: 884px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.nav {
  display: flex;
  list-style: none;
  color: #191C3F;
  font-family: 'Geometos';
  font-weight: lighter;
  letter-spacing: 2.4px;
  line-height: 16px;
  font-size: 12px;
  width: 100%;
  justify-content: space-between;
}

.logo {
  height: 21px;
  width: 264px;
}

.orderButton {
  width: 105px;
  height: 49px;
  background-color: #22B573;
  color: white;
  border: none;
  border-radius: 7px;
  align-items: center;
  font-family: 'Geometos';
  font-size: 12PX;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heroContainer {

}

.heroImage {
  width: 100%;
}