@import url('https://fonts.cdnfonts.com/css/geometos');
@import url('https://fonts.cdnfonts.com/css/agency-fb');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;

}

.headerContainer {
  height: 100.23px;
  min-width: 100%;
  position: absolute;
  background-color: #FFFFFF;
  z-index: 10;
  position: fixed;
}

.menuDiv {
  display: block;
  display: flex;
  width: 884px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.nav {
  display: flex;
  list-style: none;
  color: #191C3F;
  font-family: 'Geometos';
  letter-spacing: 2.4px;
  line-height: 16px;
  font-size: 12px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

#support {
  font-family: 'Agency FB';
}

.logo {
  height: 21px;
  width: 264px;
}

.orderButton {
  width: 105px;
  height: 49px;
  background-color: #22B573;
  color: white;
  border: none;
  border-radius: 7px;
  align-items: center;
  font-family: 'Geometos';
  font-size: 12PX;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.heroContainer {
  width: 100%;
  display: flex;
}

.carousel {
  overflow: hidden;
  min-width: 100%;
  position: relative;
  text-align: center;
  color: white;
  
}

.carouselInner {
  white-space: nowrap;
  transition: ease 1s;
}


.carouselItem {
  display: inline-block;
  width: 100%;
}

.carouselImage {
  width: 100%;
}

.logoSmall {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heroText1 {
  position: absolute;
  top: 55%;
  padding-top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Geometos';
  font-size: 14px;
  letter-spacing: 2.4px;
  line-height: 16px;
}

.heroText2 {
  position: absolute;
  width: 60%;
  top: 60%;
  left: 50%;
  padding-top: 20px;
  transform: translate(-50%, -50%);
  font-family: 'Geometos';
  font-weight: lighter;
  font-size: 49px;
  letter-spacing: 3px;
  line-height: 65px;
  word-spacing: 10px;
}

.blurContainer {
  width: 100%;
  height: 78px;
  position: absolute;
  display: flex;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.182);
  backdrop-filter: blur(10px);
}

.discountContainer {
  display: flex;
  width: 340px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
}

.discountText {
  display: flex;
  color: white;
  font-family: 'Geometos';
  font-size: 12px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.text1 {
  padding-right: 15px;
  font-size: 16px;
}

.discountButton {
  width: 100px;
  height: 38px;
  background-color: #22B573;
  border-radius: 7px;
  font-family: 'Geometos';
  display: flex;
  padding: 10px;
}

.text2 {
  font-size: 20px;
  padding-right: 3px;

}
.text3 {
  font-size: 11px;
  padding-left: 3px;
}

.text4 {
  padding-left: 15px;
  font-size: 16px;
}

.benefitsContainer {
  max-width: 100vw;
  height: 1609px;
  position: relative;
  overflow: hidden;
}

.benefitsNav {
  width: 835px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  font-size: 15px;
  position: absolute;
  top: 100px;
}

.navBar {
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #707070;
  
}

.navBar a {
  color: inherit;
  text-decoration: none;
}

.navBar li.active {
  color: white;
}
.navBar li:hover {
  transition: 0.4s;
  color: #abaaaa;
}

.benefit {
  

}

.benefitsImage {
  object-fit: cover;
  
}

.benefitContent {
  width: 1200px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  color: white;
  align-items: center;
  gap: 80px;
}

.benefitContent2{
  width: 1200px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  color: white;
  gap: 80px;
}

.benefitContent3 {
  width: 1200px;
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins';
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}


.benefitsBlock1 {
  width: 629px;
  font-size: 68px;
  line-height: 77px;
  
}

.benefitsBlock2 {
  width: 469px;
  font-size: 18px;
  line-height: 30px;
}

.benefitsBlock3{
  width: 420px;
  font-size: 65px;
  line-height: 77px;
}

.benefitsBlock4{
  width: 540px;
  font-size: 65px;
  line-height: 77px;
}

.benefitsBlock5 {
  width: 455px;
  font-size: 18px;
  line-height: 30px;
  padding-top: 80px;
}

.faqContainer {
  width: 1100px;
  
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins';
  color: #292F3D;
  
}

.faqTitleContainer {
  margin-top: 160px;
  margin-bottom: 130px;
}

.faqTitle {
  font-size: 62px;

}

.faqAccordion {
  background-color: var(--white);
  margin-bottom: 20px;
  padding: 0px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#faqQuestion {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  color: #22B573;
}

#answerContainer {
  font-size: 14px;
  display: flex;
  gap: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.answer {
  width: 400px;
  line-height: 24px;
}

.contactDiv {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}

.contactText {
  font-size: 14px;
  color: #292F3D;
  margin-top: 40px;
  padding-bottom: 30px;
}

.contactUs {
  color: #22B573;
 
}

.footerContainer {
  position: inherit;
}

.footer {
  width: 100%;
  position: absolute;
}